body
{
    background-image: url("../images/bg/congruent_outline.jpg");
    background-size: 240px 240px;
    background-attachment: fixed;
}
.uppercase {
    color: white;
}

.jumbotron {
    background-color: hsla(0,0%,100%,0.4);
    padding-top: 0.5%;
}

.jumbotron h3 {
    color: brown;
}
.jumbotron ul {
    font-size: 1.2em;
}

/*#form { display: none; }*/
#form * { font-size: 1.1em; }